<div class="banner">
    <public-navbar></public-navbar>
    <section class="intro-content">
        <section class="text-center">
            <h1 class="intro_headers">
                Banking application
            </h1>
            <p class="intro_headers1">

            </p>
        </section>
    </section>
</div>


<!--<section id="second_section" class="container">-->
    <!--<section class="text-center">-->
        <!--<h2 class="heading">-->
            <!--THE WAY WE SERVE OUR CLIENTS-->
        <!--</h2>-->

        <!--<p>-->
            <!--We make digital business radically better for our clients and create products that stand out functionally,-->
            <!--aesthetically, and financially.-->
        <!--</p>-->
    <!--</section>-->
<!--</section>-->

<!--<section id="third_section" class="container-fluid">-->
    <!--<div class="container" id="third_section_image">-->
        <!--<section class="text-center">-->
            <!--<h2 class="heading1">CLIENTS</h2>-->
        <!--</section>-->
        <!--<div class="block-content">-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="block-content1">-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="client_logo col-xs-6 col-md-3">-->
                <!--<div class="client_logo_image">-->
                    <!--<img src="" class="client_logo_size">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->


<section id="fourth_section" class="container" style="margin-bottom: 500px">
    <section class="text-center">
        <h2 class="heading">
            THIS IS MY PAGE
        </h2>
        <p>
            Web development
        </p>
    </section>
    <!--<div class="block-content1">-->
        <!--<div class="client_logo col-xs-6 col-md-3">-->
            <!--<div class="client_logo_image">-->
                <!--<img src="" class="client_logo_size">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="client_logo col-xs-6 col-md-3">-->
            <!--<div class="client_logo_image">-->
                <!--<img src="" class="client_logo_size">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="client_logo col-xs-6 col-md-3">-->
            <!--<div class="client_logo_image">-->
                <!--<img src="" class="client_logo_size">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="client_logo col-xs-6 col-md-3">-->
            <!--<div class="client_logo_image">-->
                <!--<img src="" class="client_logo_size">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>
<public-footer></public-footer>